*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';

}
html, body{
  color: aliceblue;
  background-color:rgb(42, 39, 39);
  height: 100%;
  width: 100%;
  font-size: x-large;
}
.card{
  background-color: rgb(245, 160, 174);
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  font-size: larger;
  color: aliceblue;
}
.nav{
  background-color: rgb(130, 32, 48);
  padding: 20px;
  font-size: larger;
  color: aliceblue;
  margin: 5px;

}